@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Poppins:wght@300;400;500;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #eceff1;
}

/* This css for only primary button */
.primary-btn {
  background: transparent;
  text-transform: capitalize;
  position: relative;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #f7941f;
  border-radius: 5px;
  outline: none;
  overflow: hidden;
  color: #f7941f;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

.primary-btn::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

.primary-btn:hover {
  color: #fff;
  border: 1px solid #f7941f;
}

.primary-btn:hover::before {
  box-shadow: inset 0 0 0 10em #f6ad04;
}
